APP_ENV=local
APP_DEBUG=true
APP_URL=http://localhost:8000

DB_CONNECTION=pgsql
DB_HOST=db
DB_PORT=5432
DB_DATABASE=flood_alert
DB_USERNAME=postgres
DB_PASSWORD=secret

MQTT_HOST=mqtt
MQTT_PORT=1883
MQTT_USER=station_node
MQTT_PASSWORD=secret

NEXT_PUBLIC_API_URL=http://localhost:8000/api
